body {
	background-color: #E3FFFF;
	margin-top: 50px;
	margin-bottom: 10px;
	width:100%;
}

.main-contents {
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E3FFFF;
	width:100%;
	text-align: center;
	align: center;
}

.tweet-box {
	width: 780px;
	height: 56px;
}

.titlebar { display: table; width: 50%; background-color: #f3f3f3;position: fixed; top: 5px; }
.newmessage { display: table-cell; text-align: left; }
.subject  { display: table-cell; text-align: center; }
.logout     { display: table-cell; text-align: right; }

.users {
	border-collapse: collapse;
  	border: medium solid #000000;
  	text-align : center ;
  	align:center;
  	margin-left: auto;
  	margin-right: auto;
  	align:center;
	vertical-align:middle;
	margin:0 auto;
}

.users td {
 border: 1px solid #000000;

 vertical-align:middle;
 align:center;
 valign:middle;
 margin:0 auto;
 display: table-cell;
 vertical-align: middle;
}
.users th {
  background-color: #ccf;
  border: 1px solid #000000;
  align:center;
  vertical-align:middle;
  margin:0 auto;
}

.user {
  align:center;
  margin-left: auto;
  margin-right: auto;
  table-layout:fixed;
  width:80%;
  word-wrap:break-word;
}
.user th, .user td {
	word-wrap:break-word;
}
.user th {
  background-color: #000000;
}
.a {
 width:130px;

}
.b {
 width:70px;

}
.profile {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 30px;
	width:100%;
	background-color: #96f0f8;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	margin: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	margin:0 auto;
}

.text {
	font-family : inherit;
	font-size : 100%;
}
.title{
	font-family : inherit;
	font-size : 130%;
	background-color: #c8c0fe;
}

button, input, select, textarea {
 font-family : inherit;
 font-size : 100%;
}
.submit {
 vertical-align:middle;
 font-family : inherit;
 font-size : 100%;
}
.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.info {
	font-weight: lighter;
	color: red;
	font: small-caption;
}

.name{
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.category{
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.message{
	background-color: #E3FFFF;
	align:center;
}

.message.comment{
background-color: #b3ffff;


}
.comments{

	color: gray;

}
.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
	align:center;
    width:500px;
    margin:0 auto;
}

ul {
	text-align:center;
}
.errorMessages ul {

	color: red;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}

.errorMessages {

	color: red;
	text-align:center;
	margin-left:auto;
	margin-right:auto;

}
.commenterrorMessages {
	color: red;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.codeGreen{
	color: green;
	background-color: #abfab1;
}
.codeRed{
	color: red;
	background-color: #fdcc97;
}
.login{
text-align:center;
margin:0 auto;

}
.Users.stop{
margin:0 auto;
display: table-cell;
position: absolute;
left: 50%;
top: 50%;
bottom:50%;
height:100px;
}
pre {
    white-space: pre-wrap;
}

